# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment configuration & secret keys
.env
.env.local
.env.development
.env.test
.env.production

# Temporary logs & debug files
line_webhook_log.txt
cookies.txt
*.log
project.db

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
